<% @badges.each do |badge| %>
  <div id="badge_<%= badge.id %>" class='badge-in-list'>
    <%= link_to image_tag(badge_image_badge_path(:id => badge.id), :class => 'badge-image'), badge_path(badge) %>
    <p><%= truncate badge.name, :length => 18 %></p>
  </div>
<% end %>