<div id="welcome">
  <p>Welcome!</p>
  <p>The Badger is the place to pin badges to all of your friends!</p>
  <p>You know you want to <%= link_to 'sign up', new_user_registration_path %> and start giving badges to everyone you know!</p>
  <p>Please <%= link_to 'log in', new_user_session_path %> if you are already a user of The Badger.</p>
</div>